vendor
node_modules
npm-debug.log
yarn-error.log
.env
.env.*
.git
.gitignore
.storage
/.idea
/.vscode
.DS_Store
/public/hot
/public/build
/public/storage
/storage/*.key
/storage/pail
.phpunit.result.cache
